

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #020001 0%, #090979 35%, #00d4ff 100%);
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 31%;
    left: 42%;
    font-size: 50px;
    color: white;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 39%;
    left: 33%;
    font-size: 50px;
    color: white;
    font-weight: bold;
    margin: 0;
}

