body {
    background-color: blue;
    height: 100vh;
    margin: 0;
}

.button {
    width: 200px;
    height: 150px;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
    line-height: 150px;
    font-weight: bold;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

#tests {
    background-color: green;
}

#basics {
    background-color: orange;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 31%;
    left: 42%;
    font-size: 50px;
    color: white;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 39%;
    left: 33%;
    font-size: 50px;
    color: white;
    font-weight: bold;
    margin: 0;
}