body {
    background-color: #108adbcb;
    font-family: Arial, sans-serif;
    text-align: center;
}
.container {
    padding: 40px;
}
.paragraph {
    margin: 20px 0;
    text-decoration: none;
}
.container a{
    text-decoration: none;
}