body {
    background-color: #108adbcb;
    font-family: Arial, sans-serif;
}


.paragraph {
    margin: 20px 0;
    text-decoration: none;
    text-align: center;
}

img {
    width:100%;
    height: 100%;
}
h1 {
    text-align: center;
    position: relative;
    left: -7.5432%;
    font-size: 50px;
}

.text {
    display: inline-block;
    font-size: 25px;
    top: 20%;
    position: absolute;
    left: 25%;
    width: 50%;
}