body{
    overflow: hidden;
}
.wrapper {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #020001 0%, #090979 35%, #00d4ff 100%);
  }
  .box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid #ffffffcc;
  }

  .box div:nth-child(1){
    top: 20%;
    left: 5%;
    animation: animate 7s linear infinite;
  }

  .box div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 12s linear infinite;
  }

  .box div:nth-child(3){
    top: 17%;
    left: 95%;
    animation: animate 5s linear infinite;
  }

  .box div:nth-child(4){
    top: 10%;
    left: 67%;
    animation: animate 10s linear infinite;
  }

  .box div:nth-child(5){
    top: 58%;
    left: 10%;
    animation: animate 6s linear infinite;
  }

  .box div:nth-child(6){
    top: 88%;
    left: 70%;
    animation: animate 12s linear infinite;
  }

  .box div:nth-child(7){
    top: 70%;
    left: 90%;
    animation: animate 7s linear infinite;
  }

  .box div:nth-child(8){
    top: 32%;
    left: 85%;
    animation: animate 8s linear infinite;
  }

  .box div:nth-child(9){
    top: 95%;
    left: 20%;
    animation: animate 9s linear infinite;
  }

  .box div:nth-child(10){
    top: 15%;
    left: 43%;
    animation: animate 8s linear infinite;
  }

  @keyframes animate{
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100% {
      transform: scale(1.3) translateY(-90px) rotate(360deg);
      opacity: 1;
    }
  }
  .form {
    z-index: 1;
    width: 50%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 25%;
    background-color: #ffffff80;
    border-radius: 5%;
  }

  p {
    text-align: center;
    font-size: 40pt;
    color:white;
    font-weight: bold;
  }

  label{
    display: inline-block;
  }

  .email{
    display: inline-block;
    position: relative;
    top: 0%;
    left: 35%;
    width: 30%;
    height: 10%;
    font-size: 16pt;
  }

  #email{
    position: relative;
    background-color: #ffffff80;
    border:none;
    height: 1em;
    width:100%;
  }

  .feedback{
    display: inline-block;
    position: relative;
    top:0%;
    left:15%;
    width:70%;
    
    text-align: center;
  }

  #feedback{
    position: relative;
    width: 80%;
    top: 50%;
    left:auto;
    height: 15em;
    background-color: #ffffff80;
    border:none;
  }

  #submit{
    position: relative;
    top: 20%;
    left: 41.8763%;
    width: 15em;
    height: 5em;
    background-color: #00800080;
    border: none;
    border-radius: 20%;
    font-size: 10pt;
  }

  #submit:hover{
    transition: 0.25s;
    background-color: #008000;
    cursor: pointer;
  }