body {
  margin: 0;
  padding: 0;
}
.center {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  height: 180px;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #020001 0%, #090979 35%, #00d4ff 100%);
}

.box div{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid #ffffffcc;
}

.box div:nth-child(1){
  top: 20%;
  left: 5%;
  animation: animate 7s linear infinite;
}

.box div:nth-child(2){
  top: 70%;
  left: 50%;
  animation: animate 12s linear infinite;
}

.box div:nth-child(3){
  top: 17%;
  left: 95%;
  animation: animate 5s linear infinite;
}

.box div:nth-child(4){
  top: 10%;
  left: 67%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(5){
  top: 58%;
  left: 10%;
  animation: animate 6s linear infinite;
}

.box div:nth-child(6){
  top: 88%;
  left: 70%;
  animation: animate 12s linear infinite;
}

.box div:nth-child(7){
  top: 70%;
  left: 90%;
  animation: animate 7s linear infinite;
}

.box div:nth-child(8){
  top: 32%;
  left: 85%;
  animation: animate 8s linear infinite;
}

.box div:nth-child(9){
  top: 95%;
  left: 20%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(10){
  top: 15%;
  left: 43%;
  animation: animate 8s linear infinite;
}

@keyframes animate{
  0% {
      transform: scale(0) translateY(0) rotate(0);
      opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 1;
  }
} 

.button1 {
  background-color: #29b1f0;
  border: none;
  position: absolute;
  top: 19%;
  left: 15%;
  padding-top: 50px ;
  padding-right: 36px;
  padding-left: 20px;
  font-size: 65px;
  border-radius: 50px;
}

.button1:hover {
  padding-top: 50px ;
  padding-right: 36px;
  padding-left: 20px;
  background-color: #29b1f0;
  transition: transform .2s;
  margin: 0 auto;
  transform: scale(1.12);
  cursor: pointer;
  }

.button2 {
  background-color: #1252db;
  border: none;
  position: absolute;
  top: 19%;
  left: 55%;
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 65px;
  border-radius: 50px;
  }

.button2:hover {
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #1252db;
  transition: transform .2s;
  margin: 0 auto;
  transform: scale(1.12);
  cursor: pointer;
  }

  u {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .feedback{
    width: 300px;
    height: 100px;
    font-size: 36px;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    top: 70%;
    left: 44%;
    background-color: rgb(0, 255, 42);
    padding: 20px;
    text-decoration: none;
    color: black;
  }
  .feedback > p{
    text-align: center;
  }
  .feedback:hover{
    transition-duration: 0.25s;
    background-color: rgb(36, 109, 22);
  }
  .feedback > a{
    width: 100%;
    height: 100%;
  }